<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello</title>
    </head>

    <body>
        <!-- 주석입니다. -->
        <!-- h1태그에 빨간색 글꼴색을 적용한 것 -->
        <h1 style="color: red;"><!-- Hello --> World!</h1>
        <h2>Hello World!</h2>
        <h3>Hello World!</h3>
        <h4>Hello World!</h4>
        <h5>Hello World!</h5>
        <h6>Hello World!</h6>
        <p>안녕하세요. 반갑습니다. 안녕하세요. 반갑습니다. 안녕하세요. 반갑습니다. 안녕하세요. 반갑습니다. 안녕하세요. 반갑습니다. 안녕하세요. 반갑습니다. 안녕하세요. 반갑습니다. 안녕하세요. 반갑습니다. </p>
        <p>안녕히가세요. 즐거웠습니다.</p>
        <a href="https://www.naver.com">NAVER</a>
        <br />
        <hr />
        <img src="https://img.insight.co.kr/static/2020/09/12/700/4hjgqi16n16b27br2at1.jpg" alt="춘식이" width="100px" />
        <img src="../../asset/image/choonsik.jpg" alt="춘식라이언" width="200px"/>
        
    </body>
</html>